.about {
  height: 77rem;

  .content-container {
    margin-top: 64px;
  }

  .about-image-container {
    width: 45%;
    position: relative;

    img {
      height: 480px;
      margin-left: auto;
      object-fit: cover;
    }

    img:nth-of-type(2) {
      position: absolute;
      top: 25%;
      left: 5%;
    }
  }
}
