.wrapper {
  width: 80%;
  max-width: 1240px;
  margin: 0 auto;
}

html {
  background-color: $low-emphasis-colour;
  scroll-behavior: smooth;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 32px 0px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  border: 1px solid transparent;
  padding: 16px 32px;
  background-color: $accent-colour;
  color: $low-emphasis-colour;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1.5px;

  &:hover {
    border: 1px solid $accent-colour;
    background-color: $low-emphasis-colour;
    color: $accent-colour;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 24px;
}

.content-container {
  width: 45%;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

.material-symbols-outlined {
  font-size: 3.2rem;
}
