.feedback {
  .container {
    border-left: 3px solid $accent-colour;
    padding-left: 40px;
    padding-top: 24px;
    margin-bottom: 64px;
  }

  .profile-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .flex-container {
    align-items: center;
    margin-top: 24px;
    gap: 32px;
  }

  .name-container {
    flex-shrink: 0;
  }

  p {
    margin-bottom: 0px;
  }
}
