@media screen and (max-width: 1096px) {
  //Base styles
  .content-container {
    width: 100%;
  }

  .flex-container:not(.feedback .flex-container) {
    flex-direction: column;
    justify-content: normal;
  }

  //About page
  .about {
    .content-container {
      margin: 0px;
    }

    .about-image-container {
      flex: unset;
      width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  //Spotlight page
  .spotlight {
    .flex-container {
      flex-direction: column;
    }

    .content-container {
      width: 100%;
    }

    .image-label-container span {
      width: 100%;
      bottom: -1px;
      padding: 16px;
    }
  }

  //Feedback page
  .feedback {
    .name-container {
      font-size: 1.4rem;
      margin-right: auto;
    }

    img:nth-of-type(2) {
      align-self: flex-end;
      margin-left: -111px;
      position: relative;
    }
  }

  //Contact page {
  form {
    width: 100%;

    .flex-container,
    .text-area-container {
      height: 100%;
    }

    .btn {
      width: 100%;
      text-align: center;
    }
  }

  //Footer
  footer {
    .contact-info {
      border-bottom: 1px solid lightgray;
      padding-bottom: 28px;
    }

    .flex-container {
      gap: 40px;
    }

    .bottom-nav ul {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    p {
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 883px) {
  //Base styles
  .wrapper {
    width: 90%;
  }

  h1 span {
    display: block;
  }

  //Navigation
  .top-nav {
    button {
      display: block;
      z-index: 11;
      padding: 0px;
    }
    ul {
      display: none;
    }

    ul.mobile-menu {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background: $low-emphasis-colour;
      z-index: 10;
      left: 0;
      padding: 64px;
      text-align: right;

      a {
        font-size: 3.2rem;
      }
    }
  }

  //About page
  .about {
    .btn {
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 624px) {
  h1 {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 490px) {
  //Base styles
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.4rem;
  }

  //About
  .about {
    .about-image-container {
      height: 320px;
      width: 100%;
      flex: unset;
      margin-bottom: 80px;
    }
  }

  //Footer
  footer {
    .bottom-nav ul a {
      font-size: 1.4rem;
    }
  }
}
