//Navigation

.top-nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  a {
    padding: 16px 0px;
    text-transform: uppercase;
  }

  button {
    display: none;
  }
}

.bottom-nav {
  a {
    text-decoration: underline;
    padding: 8px 0px;
  }
}
