//Variables
$font-weight-regular: 400;
$font-weight-semi-bold: 600;

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $high-emphasis-colour;
  letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
button {
  font-weight: $font-weight-semi-bold;
}

nav a,
p,
a {
  font-weight: $font-weight-regular;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.2rem;
  position: relative;
  margin-bottom: 56px;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: $accent-colour;
    left: 0px;
    bottom: -12px;
  }
}

h3,
button {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: $high-emphasis-colour;
  display: inline-block;
}

nav a {
  font-size: 2.8rem;
}

nav li a {
  font-size: 1.8rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin-bottom: 40px;
}
